.container[b-89cw8sbmxn] {
    font-family: 'Arial', sans-serif;
}

.my-5[b-89cw8sbmxn] {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

pre[b-89cw8sbmxn] {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.table[b-89cw8sbmxn] {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

    .table th[b-89cw8sbmxn],
    .table td[b-89cw8sbmxn] {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th[b-89cw8sbmxn] {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody + tbody[b-89cw8sbmxn] {
        border-top: 2px solid #dee2e6;
    }

@media (max-width: 768px) {
    .hero-section h1[b-89cw8sbmxn] {
        font-size: 2.5rem;
    }

    .hero-section p.lead[b-89cw8sbmxn] {
        font-size: 1rem;
    }
}

